* {
    box-sizing: border-box;
}   

a {
    text-decoration: none;
    color: gray;
}

section {
    font-size: 1.5em;
}

h2 {
    position: relative;
    margin-bottom: 20px;
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    width: 4em;
    bottom: -6px;
    height: 3px;
    background-color: aqua;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}

.vertical-line {
    position: relative;
    padding-left: 20px;
}

.vertical-line::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: aqua;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 0;
}
