* {
    box-sizing: border-box;
}

body {
    height: 5000px;
}

a {
    text-decoration: none;
    color: gray;
}

section {
    font-size: 1.5em;
}

h2 {
    position: relative;
    margin-bottom: 20px;
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    width: 4em;
    bottom: -6px;
    height: 3px;
    background-color: aqua;
}

#main {
    width : 80%;
    margin : auto;
}